<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Tariff Rules</title>
</head>
<body>
<h2>Tariff Rules</h2>

<a th:href="@{/ui/tariff-rules/new}">➕ New Tariff Rule</a>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>DESTINATION COUNTRY</th>
        <th>MAX USD</th>
        <th>MIN USD</th>
        <th>ORIGIN COUNTRY</th>
        <th>RATE PERCENT</th>
        <th>CATEGORY </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="t : ${rules}">
        <td th:text="${t.id}"></td>
        <td th:text="${t.destCountry}"></td>
        <td th:text="${t.maxUsd}"></td>
        <td th:text="${t.minUsd}"></td>
        <td th:text="${t.originCountry}"></td>
        <td th:text="${t.ratePercent}"></td>
        <td th:text="${t.category.name}"></td>
        <td>
            <a th:href="@{/ui/tariff-rules/{id}/edit(id=${t.id})}">✏ Edit</a>
            <a th:href="@{/ui/tariff-rules/{id}/delete(id=${t.id})}" onclick="return confirm('Delete?')">❌ Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/}">⬅ Back  </a>
</body>
</html>
