<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Customs Checkpoints</title>
</head>
<body>
<h2>Customs Checkpoints</h2>

<a th:href="@{/ui/customs-checkpoints/new}">➕ New Checkpoint</a>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Country</th>

        <th>Location</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c : ${checkpoints}">
        <td th:text="${c.id}"></td>
        <td th:text="${c.name}"></td>
        <td th:text="${c.country}"></td>
        <td th:text="${c.location != null ? c.location.name : '-'}"></td>
        <td>
            <a th:href="@{/ui/customs-checkpoints/{id}/edit(id=${c.id})}">✏ Edit</a>
            <a th:href="@{/ui/customs-checkpoints/{id}/delete(id=${c.id})}" onclick="return confirm('Delete?')">❌ Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/}">⬅ Back  </a>
</body>
</html>
